
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.footerContainer{
    width: 1440px;
    height: 8rem;
    margin: 0;
    margin-left: 2rem;
    margin-top: 150px;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
}

.companyInfoContainer{
  width: 50%;
}

.companyNameContainer{
    padding: 32px 94px;
    margin-left: 4rem;
}

.companyName{
    font-weight: 700;
    font-size: 19px;
    margin-left: -1rem;
}


.linksContainer{
    display: flex;
    gap: 10px;
    margin-top: 23px;
    margin-left: -1rem;
    & div:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.otherInfoContainer{
    padding: 32px 94px;
}

.redesContainer{
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    & div img:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.copyrigthContainer{
    margin-top: 27px;
    margin-left: 2rem;
    margin-right: -1rem;
    display: flex;
    align-items: end;

}

@media (max-width: 750px){
    .footerContainer{
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;

}

    .companyNameContainer{

        margin-left: 2rem;
        margin-bottom: 1em;
        
    }
    .companyName{
        font-size: 2rem;
        margin-left: -3.5rem;

    }
    .companyInfoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:1rem;
        margin-left: 8rem;
}

    .linksContainer{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .redesContainer{
        display: flex;
        justify-content: center;
        position: relative;
    }

}