#header_container {
  border: 1px solid white;
  /* height: 100vh; */
  position: relative;
}

#mobile_hero_image {
  /* display: none; */
  width: 375px;
}

#icon_hamburguer {
  /* display: none; */
  position: absolute;
  top: 45px;
  right: 25px;
}

#icon_hamburguer:hover {
  cursor: pointer;
}

#icon_close {
  display: none;
  position: absolute;
  top: 45px;
  right: 25px;
}

#icon_close:hover {
  cursor: pointer;
}

#logo {
  width: 150px;
  position: absolute;
  top: 40px;
  left: 20px;
}

#header_title {
  /* display: none; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  border: solid white 1px;
  position: absolute;
  padding: 30px;
  top: 25%;
  right: 10%;
}

#mobile_menu_background {
  display: none;
  background-color: black;
  width: 375px;
  height: 650px;
  /* height: 100vh; */
}

#mobile_navigation_links {
  display: none;
  /* border: 1px solid white; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: -20px;
  list-style-type: none;
  margin: 0;
}

#mobile_navigation_links li {
  margin-bottom: 20px;
}

#mobile_navigation_links li a {
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  #header_container {
    width: 375px;
  }
}

@media screen and (min-width: 1440px) {
  #header_container {
    width: 1440px;
  }
}
