@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.collage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  gap: 20px;
}
@media (min-width: 1440px) {
  .collage {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1440px;
    height: 100%;
    display: flex;
    gap: 33.52px;
    margin-top: 10px;
  }
}

.collage_titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 90px;
}
@media (min-width: 1440px) {
  .collage_titulo {
    position: absolute;
    top: 97%;
    left: 0%;
    margin-left: 160px;
    margin-top: 10px;
  }
}

.collage-image {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 150px;
  cursor: pointer;
}
.collage-image:hover {
  opacity: 0.3;
}
.collage-image:hover p {
  color: black;
}
@media (min-width: 1440px) {
  .collage-image {
    width: 270px;
    height: 415px;
    left: 0px;
    top: 0%;
    margin-top: 100px;
  }
}

.image_name {
  color: white;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: 50px;
  width: 50%;
  word-break: break-all;
}
@media (min-width: 1440px) {
  .image_name {
    width: 50%;
    word-break: break-all;
    margin-top: 320px;
  }
}

.collage_seeall {
  border: 2px solid #000;
  border-radius: 10px;
  width: 60%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-weight: 600;
  cursor: pointer;
}
.collage_seeall:hover {
  color: white;
  background-color: #000;
}
@media (min-width: 1440px) {
  .collage_seeall {
    position: absolute;
    top: 97%;
    right: 0%;
    width: 10%;
    margin-right: 160px;
    margin-top: 5px;
  }
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.footerContainer {
  width: 90%;
  height: 8rem;
  margin: 0;
  margin-left: 3rem;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
}

.companyInfoContainer {
  width: 50%;
}

.companyNameContainer {
  padding: 32px 94px;
  margin-left: -2rem;
}

.companyName {
  font-weight: 700;
  font-size: 19px;
  margin-left: -1rem;
}

.linksContainer {
  display: flex;
  gap: 10px;
  margin-top: 23px;
  margin-left: -1rem;
}

.otherInfoContainer {
  padding: 32px 94px;
}

.redesContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  /* margin-right: -3.5rem; */
}

.copyrigthContainer {
  margin-top: 27px;
  margin-left: 2rem;
  margin-right: -1rem;
  display: flex;
  align-items: end;
}

@media (max-width: 750px) {
  .footerContainer {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -1rem;
  }
  .companyNameContainer {
    margin-left: -0.5rem;
    margin-bottom: 1em;
  }
  .companyName {
    font-size: 2rem;
    margin-left: -3.5rem;
  }
  .companyInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 8rem;
  }
  .linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .redesContainer {
    display: flex;
    justify-content: center;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
