@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.collage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  gap: 20px;
}
@media (min-width: 1440px) {
  .collage {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1440px;
    height: 100%;
    display: flex;
    gap: 33.52px;
    margin-top: 10px;
  }
}

.collage_titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 90px;
}
@media (min-width: 1440px) {
  .collage_titulo {
    position: absolute;
    top: 200%;
    left: 0%;
    margin-left: 140px;
    margin-top: 10px;
  }
}

.collage-image {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 150px;
  cursor: pointer;
}
.collage-image:hover {
  opacity: 0.3;
}
.collage-image:hover p {
  color: black;
}
@media (min-width: 1440px) {
  .collage-image {
    width: 270px;
    height: 415px;
    left: 0px;
    top: 0%;
    margin-top: 100px;
  }
}

.image_name {
  color: white;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: 50px;
  width: 50%;
  word-break: break-all;
}
@media (min-width: 1440px) {
  .image_name {
    width: 50%;
    word-break: break-all;
    margin-top: 320px;
  }
}

.collage_seeall {
  border: 2px solid #000;
  border-radius: 10px;
  width: 60%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-weight: 600;
  cursor: pointer;
}
.collage_seeall:hover {
  color: white;
  background-color: #000;
}
@media (min-width: 1440px) {
  .collage_seeall {
    position: absolute;
    top: 200%;
    right: 0%;
    width: 10%;
    margin-right: 170px;
    margin-top: 5px;
  }
}

.content_principal {
  display: flex;
  flex-direction: column;
  height: 680px;
  margin: 20px;
}
@media (min-width: 1440px) {
  .content_principal {
    flex-direction: row;
    margin: 70px;
  }
}

.cuerpo {
  width: 98%;
  height: 70%;
  margin-top: 80px;
  margin-left: 18px;
}
@media (min-width: 1440px) {
  .cuerpo {
    flex-wrap: wrap;
    width: 95%;
    height: 80%;
    display: flex;
    margin-top: 10px;
    margin-left: 12%;
  }
}

#cuerpo_title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 375px;
  margin-left: 10px;
}
@media (min-width: 1440px) {
  #cuerpo_title {
    width: 500px;
    height: 300px;
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    position: absolute;
    padding: 20px;
    top: 126%;
    right: 240px;
  }
}

.title {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-left: 90px;
  width: 375px;
}

.parrafo {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  margin-left: 70px;
  width: 375px;
  text-align: center;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.footerContainer {
  width: 1440px;
  height: 8rem;
  margin: 0;
  margin-left: 2rem;
  margin-top: 150px;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
}

.companyInfoContainer {
  width: 50%;
}

.companyNameContainer {
  padding: 32px 94px;
  margin-left: 4rem;
}

.companyName {
  font-weight: 700;
  font-size: 19px;
  margin-left: -1rem;
}

.linksContainer {
  display: flex;
  gap: 10px;
  margin-top: 23px;
  margin-left: -1rem;
}
.linksContainer div:hover {
  cursor: pointer;
  text-decoration: underline;
}

.otherInfoContainer {
  padding: 32px 94px;
}

.redesContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}
.redesContainer div img:hover {
  cursor: pointer;
  text-decoration: underline;
}

.copyrigthContainer {
  margin-top: 27px;
  margin-left: 2rem;
  margin-right: -1rem;
  display: flex;
  align-items: end;
}

@media (max-width: 750px) {
  .footerContainer {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }
  .companyNameContainer {
    margin-left: 2rem;
    margin-bottom: 1em;
  }
  .companyName {
    font-size: 2rem;
    margin-left: -3.5rem;
  }
  .companyInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 8rem;
  }
  .linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .redesContainer {
    display: flex;
    justify-content: center;
    position: relative;
  }
}
/* MOBILE */
#header_container {
  width: 450px;
  position: relative;
  margin-left: 10px;
}

#mobile_hero_image {
  width: 550px;
}

#icon_hamburguer {
  position: absolute;
  top: 45px;
  right: -95px;
}

#icon_hamburguer:hover {
  cursor: pointer;
}

#icon_close {
  display: none;
  position: absolute;
  top: 45px;
  right: 25px;
}

#icon_close:hover {
  cursor: pointer;
}

#logo {
  width: 150px;
  position: absolute;
  top: 40px;
  left: 20px;
}

#mobile_header_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  border: solid white 1px;
  position: absolute;
  padding: 30px;
  top: 35%;
  right: -10%;
}

#mobile_menu_background {
  display: none;
  background-color: black;
  width: 375px;
  height: 650px;
}

#mobile_navigation_links {
  display: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: -20px;
  list-style-type: none;
  margin: 0;
}

#mobile_navigation_links li {
  margin-bottom: 20px;
}

#mobile_navigation_links li Link {
  cursor: pointer;
  text-decoration: none;
}

.react_link {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1439px) {
  #header_container {
    width: 375px;
  }
  #desktop_header_title {
    display: none !important;
  }
}
/* DESKTOP */
#desktop_hero_image {
  display: none;
  width: 1440px;
  margin-left: 32px;
}

#desktop_header_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  border: solid white 1px;
  position: absolute;
  padding: 40px;
  padding-right: 100px;
  padding-left: 30px;
  top: 35%;
  left: 12%;
}

#desktop_navigation_links {
  display: none;
  position: absolute;
  top: 10%;
  right: 11%;
  list-style-type: none;
  font-family: "Alata", sans-serif;
}

#desktop_navigation_links li {
  display: inline-block;
  padding-bottom: 14px;
  margin: 14px;
}

#desktop_navigation_links li:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
  border-image: linear-gradient(to right, transparent 30%, white 30%, white 70%, transparent 70%) 100% 1;
}

@media screen and (min-width: 1440px) {
  #header_container {
    width: 1440px;
  }
  #mobile_hero_image,
  #icon_hamburguer,
  #mobile_header_title {
    display: none !important;
  }
  #desktop_hero_image,
  #desktop_navigation_links {
    display: block;
  }
  #logo {
    position: absolute;
    width: 200px;
    top: 10%;
    left: 12%;
  }
}

/*# sourceMappingURL=style.css.map */
